/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poetsen+One&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    font-family: 'Nunito Sans', sans-serif;
}

/* HOMEPAGE STYLE */
/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;    
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-logo img {
    width: 15%;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: -25%;
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #ddd;
    color: #FF8337;
}

/* Dropdown Animation */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 3%;
}

.dropbtn {
    background-color: #FF8337;
    border-radius: 10%;
    color: black;
    padding: 10px 20px;
    font-size: 100;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-weight: 100%;
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.video-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

/* Title Page */
#bg-vid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 80%;
    width: 110%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.homepage-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    z-index: 2000;
}

.homepage-content .logo {
    width: 70%; 
    height: auto;
    margin-top: 15%;
    margin-bottom: 1%;
}

.homepage-content p {
    font-size: 130%;
    margin: 10px 0 20px;
}

/* GAME OVERVIEW SECTION */
.game-overview {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 20px;
    background-image: url('bg1.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    z-index: 1;
    position: relative;
    min-height: 80%;
    box-sizing: border-box;
}

.overview-content {
    max-width: 50%;
    float: right;
}

.overview-content h2 {
    font-size: 350%;
    margin-bottom: 5px;
}

.overview-content p {
    font-size: 150%;
    line-height: 1.5;
    margin-top: -5px;
}

.learn-more-button {
    display: inline-block;
    margin-top: -10px;
    padding: 10px 20px;
    background-color: #E5A650;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.learn-more-button:hover {
    background-color: #d19540;
}

.overview-image {
    max-width: 80%;
} 

.overview-image img {
    width: 75%;
    height: auto;
    margin-left: 10%;
}

/* GAME MEDIA */
.image-carousel {
    overflow: hidden;
    background-image: url('bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 25px 0;
    position: relative;
}

.image-carousel h2 {
    font-size: 200%;
    color: #ddd;
    text-align: center;
    margin-bottom: 2%;
    line-height: 1.6;
    font-family: 'Poetsen One', sans-serif;
}

.image-carousel h2 b {
    color: #E5A650;
}

.carousel-track-1, .carousel-track-2 {
    display: flex;
    position: relative;
    z-index: 2;
}

.carousel-track-1 {
    animation: scroll-left 14s linear infinite;
}

.carousel-track-2 {
    animation: scroll-right 14s linear infinite;
}

.carousel-track-1 img, .carousel-track-2 img {
    width: 28%;
    height: auto;
    margin: 1%;
}

.carousel-track-1::after, .carousel-track-2::after {
    content: '';
    display: block;
    width: 100%;
}

/* Keyframes Animation */
/* Creates the scrolling effect for the carousel images */
@keyframes scroll-left {
    0% {
        transform: translateX(0) rotate(-2deg);
    }
    100% {
        transform: translateX(-50%) rotate(-1deg);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%) rotate(-2deg);
    }
    100% {
        transform: translateX(0) rotate(-1deg);
    }
}

/* SYSTEM REQUIREMENTS SECTION */
.system-requirements {
    background-image: url('bg3.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 50px 20px;
    text-align: left;
}

.system-requirements h2 {
    font-size: 350%;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Poetsen One', sans-serif;
}

.requirements-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.requirement-box {
    background-color: #E5A650;
    padding: 20px;
    margin: 10px;
    width: 45%;
    box-sizing: border-box;
    transition: transform 0.5s ease;
    border-radius: 5%;
}

.requirement-box:hover {
    transform: scale(1.05);
}

.requirement-box h3 {
    font-size: 200%;
    margin-bottom: 2%;
    color: #ffffff;
    text-align: center;
    font-weight: 900;
}

.requirement-box p {
    font-size: 100%;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 850;
}

.requirement-box p b {
    font-size: 110%;
    margin-bottom: 20px;
    color: #5A0000;
    font-weight: 900;
}

/* OFFICIAL TRAILER SECTION */
.trailer-section {
    text-align: center;
    background-image: url('bg1.png');
    padding: 5px 10px;
    color: #ddd;
}

.trailer-section h2 {
    font-size: 300%;
    margin-bottom: 2%;
    font-family: 'Poetsen One', sans-serif;
}

.trailer-section h2 b {
    color: #E5A650;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.274);
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    border-radius: 2%;
    margin-left: 10%;
}

/* FOOTER */
footer {
    background-color: #E5A650;
    padding: 20px 0;
    text-align: center;
    color: black;
    font-size: 90%;
}

/* Footer Content Layout */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

/* Footer Logos */
.footer-logos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;
    margin-left: -200%;
}

/* Rating System Icon */
.rating-system {
    width: 70px;
    height: 85px;
    transition: transform 0.3s ease;
    margin-left: -30%;
}

/* Hover Effect on Logos and Rating System */
.footer-logo:hover,
.rating-system:hover {
    transform: scale(1.2);
}

/* Footer Text */
.footer-text {
    flex: 1;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-left: 17.5%;
}

/* Social Media Icons */
.footer-social {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.footer-social p {
    margin: 17px 20px 90px 90px;
    font-weight: bold;
    color: black;
    margin-right: -13%;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-right: -60%;
}

.social-icon {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
}

/* Hover Effect on Social Media Icons */
.social-icon:hover {
    transform: scale(1.2);
}

/* ABOUT PAGE */
.about-game {
    /* Styles for the main about game section */
    padding: 50px 20px;
    text-align: center;
    background-color: #ffffff;
    overflow: hidden;
    background-image: url('bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.about-game h1 {
    /* Styles for the main heading */
    font-size: 5em;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Poetsen One', sans-serif;
}

.about-game h1 b {
    /* Styles for bold parts in the main heading */
    color: #E5A650;
}

.about-game h3 {
    /* Styles for subheading */
    font-size: 1.5em;
    color: #ffffff;
    margin-top: 5%;
    margin-bottom: -11%;
}

.about-game h3 b {
    /* Styles for bold parts in the subheading */
    color: #E5A650;
}

.about-content {
    /* Styles for the content layout */
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 50px;
}

.gif-container {
    /* Styles for the container of the gif */
    flex: 1;
    margin-left: 10%;
}

.text-box {
    /* Styles for the text box */
    flex: 1;
    background-color: #E5A650;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    padding: 20px;
    margin-right: 7%;
    margin-top: 1%;
    height: 237px;
}

.text-box p {
    /* Styles for the paragraph inside the text box */
    font-size: 100%;
    color: #ffffff;
    line-height: 1.4;
}

.feature-boxes {
    /* Styles for the container of feature boxes */
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.feature-box {
    /* Styles for individual feature boxes */
    background-color: #E5A650;
    flex: 1;
    margin: 0 10px;
    position: relative;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s;
}

.feature-box:hover {
    /* Hover effect for feature boxes */
    transform: translateY(-10px);
}

.feature-box::after {
    /* Styles for creating aspect ratio */
    content: "";
    display: block;
    padding-bottom: 100%;
}

.feature-image {
    /* Styles for the image inside the feature box */
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.feature-text {
    /* Styles for the text overlay on feature image */
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #5A0000;
    padding: 15px;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: 900;
}

.feature-description {
    /* Styles for the description overlay on feature box hover */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 20px;
    box-sizing: border-box;
}

.feature-box:hover .feature-description {
    opacity: 1;
}

.developers {
    /* Styles for the developers section */
    margin: 50px 0;
    padding: 50px 20px;
    text-align: center;
    background-image: url('bg4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.41);
    background-blend-mode: overlay;
    background-attachment: fixed;
    width: 100%;
    margin-left: -1.8%;
}

.developers h2 {
    /* Styles for the heading in developers section */
    font-size: 150%;
    color: #E5A650;
    margin-bottom: 20px;
}

.hazelight-logo {
    /* Styles for the Hazelight logo */
    width: 40%;
    height: auto;
    margin-top: -2%;
}

.developers p {
    /* Styles for the paragraph in developers section */
    font-size: 1.2em;
    color: #ffffff;
    max-width: 80%;
    margin: 0 auto 20px;
    text-align: justify;
}

.more-about-developer {
    /* Styles for the "More Info" button */
    padding: 10px 20px;
    background-color: #ffffff;
    color: #5A0000;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.more-about-developer:hover {
    /* Hover effect for the "More Info" button */
    background-color: #E5A650;
}

/* CHARACTERS PAGE */
.characters-section {
    position: relative;
    overflow: hidden;
    color: #ffffff;
    height: 100vh;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    box-sizing: border-box;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 50px 20px;
    color: #ffffff;
}

h1 {
    font-size: 3.9em;
    margin-top: 10%;
    margin-bottom: 20px;
    font-family: 'Poetsen One', sans-serif;
}

.characters-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.character-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-circle {
    width: 200px;
    height: 200px;
    background-color: #E5A650;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.character-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.character-circle::before {
    content: attr(data-description);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 75%;
}

.character-circle:hover::before {
    opacity: 1;
}

.character-circle:hover img {
    opacity: 0.3;
}

.character-name {
    margin-top: 10px;
    font-size: 100%;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.quote {
    font-style: italic;
    margin-top: -1%;
    padding: 0 20px 0 20px;
    font-size: 1.05em;
    margin-bottom: 10%;
}

/* GAMEPLAY PAGE */
/* Adjustments for the slides */
.mySlides {
    position: relative;
    width: 98.7vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Hide overflow to prevent white background */
}

/* Styling for the chapter heading */
.chapter-heading {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    color: #ffffff;
    font-size: 2vw; 
    text-align: center;
    z-index: 2; /* Ensure heading is above the slide image */
}

/* Adjustments for the gameplay heading */
.gameplay-heading {
    color: #E5A650; 
    font-weight: bold;
    font-size: 6vw;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    z-index: 2; /* Ensure heading is above the slide image */
}

/* Styling for the gameplay text */
.gameplay-text {
    position: absolute;
    padding: 0 5px 0 5px;
    line-height: 1.5;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #ffffff;
    font-size: 110%; 
    max-width: 80%; /* Limit width to prevent text overflow */
    z-index: 2; /* Ensure text is above the slide image */
}

.slideshow-container {
    max-width: 2600px;
    width: max-content;
    position: relative;
}
      
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 3; /* Ensure arrows are above the slide image */
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
      
/* Buttons will have translucent background when hovered*/
.prev:hover, .next:hover {
    background-color: rgba(226, 172, 47, 0.723);
}
      
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
      
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
      
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px;
    }
}

/* CONTACT PAGE */
.contact-body {
    background-image: url('bg5.png');
    background-size: cover;
}

.contact-container {
    background-color: rgba(255, 255, 255, 0.9);
    align-items: right;
    padding: 40px;
    margin: 100px auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
    text-align: center;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 100px;
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #5A0000;
    transition: all 0.3s ease;
}

input:focus + label,
textarea:focus + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
    /* top: -10px; */
    left: 10px;
    font-size: 12px;
    color: #5a000025;
}

.submit-button {
    background-color: #FF8337;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #FF6C00;
}

#success-message {
    text-align: center;
    margin-top: 20px;
}